<html>
<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>
<body>
<div>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a href="#" class="navbar-brand logo">Mekelle University Community School</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item"><a id="homeId" href="#" class="nav-link">Home</a></li>
                    <li role="presentation" class="nav-item"><a id="scheduleId" href="/api/listSchedules" class="nav-link">Schedules</a></li>
                    <li role="presentation" class="nav-item"><a id="eventsId" href="/api/listEvents" class="nav-link">Events</a></li>
                    <li role="presentation" class="nav-item"><a id="studentsId" href="/api/manageStudents" class="nav-link">Students</a></li>
                    <li role="presentation" class="nav-item"><a id="registrarsId" href="#" class="nav-link active">Registrar</a></li>
                </ul>
                <span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="/login">Log out</a></span>

            </div>
        </div>
    </nav>
</div>
<!--<section class="clean-block clean-form dark">-->
<!--<div class="container">-->
<!--<div class="block-heading">-->
<!--<h2 class="text-info">Forgot Password</h2>-->
<!--</div>-->
<!--<form>-->
<!--<div class="form-group"><input type="email" placeholder="Email" class="form-control item" id="email" name="email" /></div><button class="btn btn-primary btn-block" type="button">Submit</button></form>-->
<!--</div>-->
<!--</section>-->
<section class="clean-block clean-form login-clean dark" style="margin-top: 50px">

    <div class="container">
        <div class="block-heading">
            <h2>
                Register
            </h2>
        </div>
        <form method="post" action="/api/updateAccount">
            <div class="row">
                <div class="form-group col">
                    <input type="text" class="form-control" name="fname" id="fname" placeholder="first name" value="<%=registrar.fname%>" required>
                </div>

                <div class="form-group col">
                    <input type="text" class="form-control" name="lname" id="lname" placeholder="last name" value="<%=registrar.lname %>" required>
                </div>
            </div>
            <div class="form-group">
                <small class="help-block" id="unameHelp"><%= message %></small>
            </div>

            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" name="uname" id="uname" placeholder="user name" required>-->
            <!--<small id="unameHelp" class="help-block">please, use a user name that starts with <b>tea/</b></small>-->
            <!--</div>-->

            <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="email" value="<%=registrar.email %>" required>
                <!--<small id="unameHelp">please, use a user name that starts with <b>tea</b></small>-->
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="password" id="password" placeholder="password" value="<%=registrar.password %>" required>
                <!--<small id="unameHelp">please, use a user name that starts with <b>tea</b></small>-->
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check"><input type="radio" name="gender" value="Male" class="form-check-input" id="formCheck-1" required/><label class="form-check-label" for="formCheck-1">Male</label></div>
                </div>
                <div class="col">
                    <div class="form-check"><input type="radio" class="form-check-input" name="gender" value="Female" id="formCheck-2" /><label class="form-check-label" for="formCheck-2">Female</label></div>
                </div>
            </div>
            <br>        <!--<div class="form-group">-->
            <!--<div class="form-check"><input type="radio" name="gender" value="Male" class="form-check-input" id="formCheck-1" required/><label class="form-check-label" for="formCheck-1">Male</label></div>-->
            <!--<div class="form-check"><input type="radio" class="form-check-input" name="gender" value="Female" id="formCheck-2" /><label class="form-check-label" for="formCheck-2">Female</label></div>-->
            <!--</div>-->


            <!--<div class="form-group">-->
            <!--<input type="password" class="form-control" name="password" id="password" placeholder="password" required>-->
            <!--&lt;!&ndash;<small id="Help">please, use a user name that starts with <b>tea</b></small>&ndash;&gt;-->
            <!--</div>-->

            <div class="text-center">
                <button class="btn btn-primary center-block text-center" id="submit" type="submit">Update Account</button>
            </div>
        </form>
    </div>
</section>

<script src="/js/teacherRegister.js"></script>
<script src="/js/directorLinking.js"></script>
</body>
</html>